#app3{

}

#app3 .square{
    
    width: 10vw;
    height: 10vw;
    margin-top: 10vw;
    margin-left: 10vw;
    /* 加过渡 */
    transition: transform 1s;
}

#app3 .square.active{
    transform:translateX(20vw);

}